## WiT Regatta

### - Keisha's takeaways

1. “Begin again. Whatever you thought you were going to accomplish in 2020 before the pandemic hit, you can begin again.” - Dr. Tonya Drake, Chancellor and Regional Vice President at Western Governors University.

2. “Embrace your unfiltered, casual self. Get really comfortable with your authentic self, and you’ll be successful if you’re being true to that.” - Hillary Mickell, Dean and Regional CEO of Northeastern University

3. “Feedback is not personal! It’s providing a perspective. Are you being open to receiving that perspective?” - Yvonne Ruke Akpoveta, Change Strategist & Advisor, and Founder at The Change Leadership.

4. “When going into a salary negotiation, ask yourself: ‘What do I want to earn based on what I see, what I’m worth and what I want?’ Have the courage to believe your work is valuable.” - Derek Bruce, Director Leadership Development at Signify

5. "Don't burn yourself out. People will respect the boundaries that you set. You just need to be communicative of those." - Felicia Williams from Facebook

6. “Perfection is a land you’ll never reach and you’ll tire yourself out trying to get there.” - Tricia Cleppe, Account Director at davies + Dixon

7. "We have to embed an education teaching kids the mindset about failure." - Deborah Carter, Founder of NewTechKids

8. "It took me awhile to find my voice and when I actually found it, people actually listened to it." - Cynthia Tee, VP of Technology, Nordstrom.

9. "Diversity & inclusion needs to be everywhere...in order for people to change mindset I go back to the home where they were raised. It has to start from home." - Yaa Priscilla Birago discussing the importance of having tough conversations with kids. They grow up to be our leaders!

10. "You will mess up and it will feel uncomfortable. If you're not prepared for that, you need to step back and figure out when you'll be prepared for that." - Pert Lin from The Gates Foundation.

### Trapping Rain water - leetcode 42

In [1]:
# two pointer approach
def rain_water(height):
    left_wall, right_wall = 0,0
    water = 0
    left_ptr, right_ptr = 0, len(height)-1
    while left_ptr<right_ptr:
        if height[left_ptr]<height[right_ptr]:
            if height[left_ptr] > left_wall:
                left_wall = height[left_ptr]
                
            else:
                water+= left_wall - height[left_ptr]
                left_ptr += 1
        else:
            if height[right_ptr]>right_wall:
                right_wall = height[right_ptr]
               
            else:
                water+= right_wall - height[right_ptr]
                right_ptr -=1
    return water

print(rain_water([0,1,0,2,1,0,1,3,2,1,2,1]))

6

### Group Anagrams - Leetcode 49

Given an array of strings, group anagrams together. <br/>
Input: 
["eat", "tea", "tan", "ate", "nat", "bat"] <br/>
Output:<br/>
[<br/>
  ["ate","eat","tea"],<br/>
  ["nat","tan"],<br/>
  ["bat"]<br/>
]<br/>

In [3]:
import collections
def anagrams(strs):
    words_hashmap = collections.defaultdict(list)
    result = []
    for word in strs:
        sorted_word = str(sorted(word))
        words_hashmap[sorted_word].append(word)
    for value in words_hashmap.values():
        result.append(value)
    return result

print(anagrams(["eat", "tea", "tan", "ate", "nat", "bat"]))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

Given an integer, return its string format with values separated by comma at the appropriate positions.<br/>
Input: n = 1234<br/>
Output: "1,234"<br/>

In [13]:
n = 12345674
count = 0
arr = []
while n>0:
    arr.insert(0,str(n%10))
    count+=1
    if count%3==0:
        arr.insert(0,",")
    n //=10
print(arr)
strar = "".join(arr)
print(strar)

['1', '2', ',', '3', '4', '5', ',', '6', '7', '4']
12,345,674

In [33]:
# approach 1: not very efficient.
def mid_val1(arr):
    for i in range(1, len(arr)-1):
        left_sum = right_sum = 0
        left = i-1
        while left>=0:
            # print("left:", arr[left])
            left_sum+=arr[left]
            left-=1
        print("left_sum", left_sum)
        right = i+1
        while right<len(arr):
            # print("right:", arr[right])
            right_sum+=arr[right]
            right+=1
        print("right_sum", right_sum)
        if left_sum==right_sum:
            return arr[i]
    return -1

print(mid_val1([2,3,4,1,4,5]))

left_sum 2
right_sum 14
left_sum 5
right_sum 10
left_sum 9
right_sum 9
1

In [34]:
# Approach 2
#  using 2 arrays to store left and right sums
# O(n) time, O(n) space
def mid_val2(arr):
    n = len(arr)
    left_sum_arr = [0]*n
    right_sum_arr = [0]*n
    left_sum_arr[0] = arr[0]
    for i in range(1, n-1):
        left_sum_arr[i] = arr[i-1]+arr[i]
    print("left_sum_arr",left_sum_arr)
    right_sum_arr[n-1] = arr[n-1]
    for i in range(n-2,-1,-1):
        right_sum_arr[i] = arr[i+1]+arr[i]
    print("right_sum_arr", right_sum_arr)
    for i in range(1,n-1):
        if left_sum_arr[i] == right_sum_arr[i]:
            return arr[i]
    return -1


print(mid_val2([2,3,4,1,4,5]))

left_sum_arr [2, 5, 7, 5, 5, 0]
right_sum_arr [5, 7, 5, 5, 9, 5]
1